<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
                <mat-card>
                    <mat-card-title>
                            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
                            <h4 class="card-title text-center">
                              <strong>Online Shopping</strong>
                            </h4>
                    </mat-card-title>
                    <mat-card-content>
                            <form role="form" (ngSubmit)="onLoggedin()" [formGroup]="loginForm" novalidate>
                                    <mat-form-field   class="example-container">
                                        <input matInput  formControlName="username" placeholder="Username" [type]="'text'">
                                        <mat-error [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched">
                                            Username is required
                                        </mat-error>  
                                        <mat-error [hidden]="!error || isLoading">
                                            Username or password incorrect.
                                        </mat-error> 
                                    </mat-form-field>
                                    <mat-form-field  class="example-container">
                                      <input matInput  formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'">
                                      <mat-icon matSuffix (click)="hide = !hide"><i class="fa {{hide ? 'fa-eye' : 'fa-eye-slash'}}"></i></mat-icon>
                                      <mat-error [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched">
                                          Password is required
                                      </mat-error>  
                                  </mat-form-field>
                                    <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid || isLoading">
                                      <i class="fa fa-cog fa-spin" [hidden]="!isLoading"></i>
                                      <span translate>Login</span>
                                    </button>
                                  </form>
                    </mat-card-content>
                    <mat-card-actions>

                            <a class="btn rounded-btn w-100" [routerLink]="['/signup']">Register</a>
                    </mat-card-actions>
                </mat-card>
        </div>
    </div>
</div>