<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" *ngIf="user.role==='user'" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/purchase']" *ngIf="user.role==='user'" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Purchase' | translate }}
        </a>
        <a [routerLink]="['/product']" *ngIf="user.role==='admin'" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Product' | translate }}
        </a>
        <a [routerLink]="['/users']" *ngIf="user.role==='admin'" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Users' | translate }}
        </a>
        <a [routerLink]="['/transactions']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Transactions' | translate }}
        </a>
    </div>
</nav>
